body{
    width:800px;
    margin:0 auto;
    background-color: rgba(130, 235, 126, 0.452);
}

.vertical-center {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);          
}
#videos{
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;
    width: 100%;
    padding: 10px;
}

video{
    width:30%;
    border:5px solid rgba(5, 83, 36, 0.997);
    background-color: rgba(44, 41, 81, 0.748);
}

textarea{
    height: 100px;
    width: 90%;
}

@media screen and (max-width:800px) {
    body{
        width:100%;
    }
}